header{
    /* height: 130px; */
    background-color: #F8F9FA;
  }

.debug{
    background-color: rgba(0, 255, 255, 0.797);
    height: 100px;
}

.ft-jumbo{
    background-color: #1973E8;
    height: 25%;
}