img{
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* UTILITIES */

.debug{
    background-color: rgba(0, 255, 255, 0.797);
    height: 100px;
}

.btn{
    color: white;
    font-size: .8rem;
    width: fit-content;
    line-height: 0.5;
}
.btn svg path{
    padding-right: 12px;
}


/* HEADER */
header{
    /* height: 130px; */
    background-color: #F8F9FA;
  }

.ft-logo{
    width: 3rem;
}

/* JUMBOTRON */

.ft-jumbo{
    background-color: #1973E8;
    height: 25%;
}


/* MAIN */
.ft-avatar{
    width: 28px;
    margin-right: 10px;
    vertical-align: middle;
}

.accordation-body{
    overflow: hidden;
}

.ft-sidebar{
    min-height: 90vh;
    background-image: url('../img/sidebar-bg.png');
    padding: 0;
}

/* MEDIAQUERY */

@media (max-width: 768px){
    .ft-cell{
        /* display: inline-block; */
        display: none;
    }
}