img{
    width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
}


/* UTILITIES */

.btn{
    color: white;
    font-size: .8rem;
    width: fit-content;
    line-height: 0.5;
}
.btn svg path{
    padding-right: 12px;
}

header{
    /* height: 130px; */
    background-color: #F8F9FA;
  }

.debug{
    background-color: rgba(0, 255, 255, 0.797);
    height: 100px;
}

.ft-jumbo{
    background-color: #1973E8;
    height: 25%;
}

/* main */
.ft-avatar{
    width: 28px;
    margin-right: 10px;
    vertical-align: middle;
}

.accordation-body{
    overflow: hidden;
}

/* MEDIAQUERY */

@media (max-width: 768px){
    .ft-cell{
        /* display: inline-block; */
        display: none;
    }
}